@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    background-color:linear-gradient(#2193b0);
}

body{
    background-image:linear-gradient(#06beb6,#48b1bf);
    font-family:'Roboto',sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}

div{
    position: absolute;
    bottom: 20px;
    background:rgba(0,0,0,0.2); 
    padding: 10px 20px;
    font-size: 18px;
    border-radius:10px;

}
input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-image:linear-gradient(#06beb6,#48b1bf);
    border: none;
    border-radius: 3px;
    text-align: center;
    

}
input:focus{
    outline: none;
}